<!--index template ejs-->
<!DOCTYPE html>
<html lang="en">
  <!--Head template ejs-->
  <%- include('./partials/header.ejs') %>
  <body>
    <div class="display-container">
      <h1><%= title %></h1>

      <p><a href="/new">Create a new user</a></p>

      <%if(users.length != 0){%>
      <ul>
        <%for(let i = 0; i < users.length; i++) {%>
        <li><%= users[i]%></li>
        <%}%>
      </ul>

      <%}%> <%if(users.length == 0){%>
      <p>There are no users as yet.</p>
      <%}%>
    </div>
  </body>
</html>
