<!--index template ejs-->
<!DOCTYPE html>
<html lang="en">
   <!--Head template ejs-->
   <%- include('./partials/header.ejs') %>
    <body>
        <h1><%= title %></h1>

        <p><a href="/users">Create a new user</a></p>
    </body>
</html>