<!--UserForm template ejs-->
<!DOCTYPE html>
<html lang="en">
  <!--Head template ejs-->
  <%- include('./partials/header.ejs') %>
  <body>
    <div class="display-container">
      <h1><%= title %></h1>
      <div class="form-container">
        <form action="/new" method="POST">
          <div class="form-submit-container">
            <div class="label-input-container">
              <label for="username">Full Name</label>
              <input type="text" name="username" required />
            </div>
            <div class="button-container">
              <button>Submit</button>
            </div>
          </div>
        </form>
      </div>
      <a class="user-form-back" href="/">Back</a>
    </div>
  </body>
</html>
